<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Ronne Puzon's Dev Skills</title>
</head>
<body>
  <a href="/">Home</a> | <a href="/skills">Ronne's Dev Skills</a>
<div class="skillEdit">
      <%= skill.skill %><br>
      <a href='/skills/<%= skill.id %>/edit'>Edit Skill</a>
    </div>
</body>
</html>