body {
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: whitesmoke;
}

a {
  color: blue;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}

.delete-form button {
  color: red;
}

li {
  list-style: square;
  padding: 10px;
}

div {
  margin-top: 10px;
}

.skillEdit  {
  margin-top: 50px;
}